---
const {
  success,
  error,
  typeSuccess,
  typeError,
  typeLinkSuccess = "/constants/types",
  typeLinkError = "/constants/types",
} = Astro.props;
---

<div class="return-container">
  {
    success && (
      <div class="return-item">
        <div class="title">
          <p class="success">Em caso de sucesso:</p>
        </div>
        <div class="value">
          <p>{success}</p>
          <div class="type-container">
            <span>Retorno:</span>
            <a href={typeLinkSuccess}>
              <p class="type">{typeSuccess}</p>
            </a>
          </div>
        </div>
      </div>
    )
  }
  {
    error && (
      <div class="return-item">
        <div class="title">
          <p class="error">Em caso de erro:</p>
        </div>
        <div class="value">
          <p>{error}</p>
          <div class="type-container">
            <span>Retorno:</span>
            <a href={typeLinkError}>
              <p class="type">{typeError}</p>
            </a>
          </div>
        </div>
      </div>
    )
  }
</div>

<style>
  .return-container {
    /* margin-left: 1em; */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .return-item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--sl-color-function-description);
  }

  .return-item .value {
    background-color: color-mix(
      in srgb,
      var(--sl-color-function-description) 50%,
      transparent 100%
    );
    padding: 10px;
  }

  .title {
    display: flex;
    gap: 0.5em;
    background-color: var(--sl-color-function-description);
    padding: 2px 5px 2px 10px;
    width: 100%;
  }

  div {
    margin-top: 0;
    width: auto !important;
    max-width: auto;
    min-width: auto !important;
  }

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-color: var(--sl-color-function-type);
  }

  .value {
    color: var(--sl-color-function-return);
  }

  .error,
  .success {
    display: flex;
    text-align: center;
  }

  .error {
    font-weight: bold;
  }

  .success {
    font-weight: bold;
  }

  .type-container {
    display: flex;
    margin-top: 0.5em;
    gap: 0.5em;
  }
  .type {
    font-weight: bold;
    color: var(--sl-color-function-type);
  }
</style>
