---
import CodeVar from "@components/CodeVar.astro";
import { VARIABLE_MAPPING } from "@src/data/variables-data";

const { category } = Astro.props;

const elements = VARIABLE_MAPPING.get(category) && Array.from(VARIABLE_MAPPING.get(category)!.values());

const containsAliases =
   elements &&
   elements.find((fn) => {
      return fn.aliases;
   });
---

{
   elements && (
      <table>
         <thead>
            <tr>
               <th>VARIÁVEIS</th>
               {containsAliases && <th class="aliases">ALIASES</th>}
               <th>RETORNOS</th>
            </tr>
         </thead>
         <tbody>
            {elements.map((fn) => (
               <tr>
                  <td>
                     <div class="name-container">
                        {fn.aliases && (
                           <div class="aliases-mobile">
                              <CodeVar copy={fn.aliases}>{fn.aliases}</CodeVar>
                           </div>
                        )}
                        <CodeVar copy={fn.name}>{fn.name}</CodeVar>
                     </div>
                  </td>
                  {containsAliases && <td class="aliases">{fn.aliases && <CodeVar copy={fn.aliases}>{fn.aliases}</CodeVar>}</td>}
                  <td class="description">
                     <p title={fn.description.full}>{fn.description.simple}</p>
                     {fn.version && (
                        <span
                           class="version"
                           title={fn.version}
                        >
                           {fn.version}+
                        </span>
                     )}
                  </td>
               </tr>
            ))}
         </tbody>
      </table>
   )
}

<!-- Estilos -->
<style>
   td {
      height: 3rem;
      vertical-align: middle;
   }
   p {
      margin: 0;
      padding: 0;
   }

   .aliases-mobile {
      display: none;
   }
   @media (max-width: 950px) {
      .aliases {
         display: none;
      }
      .aliases-mobile {
         display: block;
      }
   }
   .description {
      position: relative;
   }
   .version {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      color: var(--sl-color-accent);
      font-size: 15px;
      font-weight: semi-bold;
   }
</style>
